h1 {
  text-align: center;
}
div {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.black {
  background: black;
  color: white;
}

.yellow {
  background: yellow;
}

.pink {
  background: pink;
}
.red {
  background: red;
}

.label {
  display: flex;
  justify-content: space-between;
  width: 230px;
}

.btn-remove {
  width: 10px;
  height: 10px;
  background-color: red;
}
