* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background-color: rgb(2, 0, 11);
  overflow: hidden;
  height: 100%;
  padding: 5px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-image: url(images/login-bg-clear.jpg);
  background-size: cover;
}

.login-logo-img {
  width: 350px;
}
/* option btns */

.option-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  right: 60px;
  top: 80px;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

  border: 2px solid rgba(0, 0, 0, 0.504);
  border-radius: 50%;

  background-color: rgba(0, 0, 0, 0.524);

  opacity: 0.5;
}

.option:hover {
  cursor: pointer;
}

/* login items */

.login-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title {
  position: relative;
  color: white;

  margin-bottom: 15px;
}

.login-title::before {
  content: "";

  position: absolute;
  left: -35px;
  top: 50%;

  height: 1px;
  width: 30px;

  background-color: rgba(255, 255, 255, 0.5);
}
.login-title::after {
  content: "";

  position: absolute;
  right: -35px;
  top: 50%;

  height: 1px;
  width: 30px;

  background-color: rgba(255, 255, 255, 0.5);
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d13739;
  border: 2px solid #b28460;
  width: 85px;
  height: 85px;
  margin-bottom: 50px;
}

.login-btn:hover {
  cursor: pointer;
}

/* form */

.hidden {
  display: none;
}

.modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.login-form-wrapper {
  position: absolute;
  left: calc(50% - 700px / 2);
  top: calc(50% - 300px / 2);
  width: 700px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.802);
}

.login-form {
  background-color: beige;
  width: 700px;
  height: 320px;

  display: flex;
  flex-direction: column;
  padding: 30px;
}

.form-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 40px;
}

.login-form input {
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 25px;
  width: 420px;
  height: 70px;
  margin-bottom: 10px;
  background-color: rgba(172, 172, 172, 0.385);
}

.login-form input::placeholder {
  color: rgba(0, 0, 0, 0.535);
  font-size: 16px;
  font-weight: bold;
  padding-left: 5px;
  padding-bottom: 15px;
}

.log-in-btn {
  position: absolute;
  right: 30px;
  bottom: 9px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid #b0b0b0;
  border-radius: 22px;
  width: 85px;
  height: 85px;

  cursor: pointer;
}

.right-arrow {
  width: 25px;
  opacity: 0.6;
}

/* MAIN SCREEN */

.main-screen {
  /* background-image: url(images/main-screen-clear.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(36 37 48) 8%, rgb(14 1 22) 84%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* header MS */

.header {
  position: relative;

  height: 59px;

  border-bottom: 2px solid #b28460;

  background-color: rgba(0, 0, 0, 0.075);
}

.profile-btn {
  position: absolute;
  left: 60px;
  top: 3px;
  cursor: pointer;
}

/* main MS */

.main {
  height: 400px;
  position: relative;
}

.profile-block {
  background-image: url(images/profile.jpg);
  background-size: contain;
  position: absolute;
  left: calc(50% - 1000px / 2);
  top: calc(50% - 450px / 2);
  width: 1000px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.802);
}

/* footer MS */

.footer {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 65px;
  /* padding-right: 200px; */

  border-top: 2px solid #b28460;

  background-color: rgba(0, 0, 0, 0.075);
}

.play-btn {
  position: absolute;
  right: 22px;
  bottom: -2px;
  cursor: pointer;
}

/* footer btns */
.footer .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  border-right: 1px solid #b28460;
  cursor: pointer;
}
.footer .btn:last-child {
  border: none;
}

.footer .btn:hover {
  background-color: rgba(0, 0, 0, 0.171);
}

/* hero collection */

.hero_collection_block {
  position: absolute;
  left: calc(50% - 950px / 2);
  top: calc(50% - 500px / 2);
  width: 950px;
  height: 500px;
  background-color: rgba(64, 64, 64, 0.419);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 10px;
  overflow: auto;
}

.hero-icon {
  width: 50px;
  height: 50px;
  filter: grayscale(40%);
  transition: all 0.1s ease-in;
  cursor: pointer;
}
.hero-icon:hover {
  transform: scale(1.2);
  filter: grayscale(0);
  filter: blur(10%);
  filter: drop-shadow(5px 2px 5px rgba(14, 171, 32, 0.457));
}

/* hero block */

.hero_block {
  position: absolute;
  left: calc(50% - 1000px / 2);
  top: calc(50% - 400px / 2);
  width: 1000px;
  height: 400px;
  background-color: rgba(64, 64, 64, 0.419);
  padding: 20px;
  color: white;
  overflow: auto;
}

.hero_block p {
  margin-bottom: 5px;
}

/* ////////////////////// */

@media (max-width: 1000px) {
  .hero_collection_block {
    margin: auto 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(64, 64, 64, 0.419);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 10px;
    overflow: auto;
  }
  .hero_block {
    margin: 10px 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(64, 64, 64, 0.419);
    padding: 20px;
    overflow: auto;
  }
  .profile-btn {
    left: 20px;
    top: 13px;
  }
  .profile-btn img {
    width: 100px;
  }
  .modal {
    align-items: center;
  }
  .login-form-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.802);
  }
  .login-form {
    background-color: beige;
    width: 100%;
    height: 354px;
    display: flex;
    flex-direction: column;
    padding: 7px;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
  }

  .log-in-btn {
    position: static;
  }
  .login-form input {
    width: 70vw;
  }
}
